{% extends "layout.html" %}

{% block title %}
Sign In
{% endblock %}

{% block content %}


<h2 style="padding:20px">Welcome to flack! Please create a user name:</h2>

<form style="padding:20px" action="{{ url_for('home') }}" method="post">
  <div class="form-group">
    <label for="user_name">Display Name</label>
    <input type="text" class="form-control" name ="user_name" id="user_name" aria-describedby="displaynamehelp" placeholder="Enter display name">
    <small id="displaynamehelp" class="form-text text-muted">This will be your display name on our site</small>
  </div>
 <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}